.table-center {
    display: flex;
    justify-content: center;
}

table {
    border-collapse: collapse;
    max-width:fit-content;
}

td, th {
    border: 0.0625rem solid;
    text-align: center;
    padding: 0.5rem;
    border-color: var(--clr-grey);
}

.zavrseno {
    background-color: green;
    color: var(--clr-background-text);
}

.djelomicno {
    background-color: rgb(255, 255, 142);
    color: #000000;
}

.nedovrseno {
    background-color: rgb(255, 114, 114);
    color: var(--clr-background-text);
}