/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Roboto&family=Work+Sans:wght@300;400;700&display=swap');

:root {
    /* colors */
    --clr-primary: #527175;
    --clr-secondary:#A0A9AA;
    --clr-background: #E8EAEF;
    --clr-txt-primary: #2d4649;
    --clr-background-text: #FFFFFF;
    
    /*--clr-grey: #8E9199;
    --clr-btn-orange: #DB6D3D;
    --clr-btn-hover: rgb(250, 136, 87);*/
}


.profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.profile {
    display: flex;
    flex-direction: column;
    width: 25rem;
    margin-top: 5rem;
    justify-content: center;
    padding: 3.125rem;
    border: 0.063rem solid var(--clr-txt-primary);
    border-radius: 1.25rem;
    box-shadow: 0 0 0.438rem rgba(0, 0, 0, .5);

    input {
        width: 100%;
        padding: .4rem;
        border: 0.063rem solid var(--clr-secondary);
        border-radius: 1rem;
        margin: 0.625rem 0;
        color: var(--clr-txt-primary);
    }

    button {
        width: 100%;
        cursor: pointer;
        background-color: var(--clr-primary);
        border: 0.063rem solid var(--clr-secondary);
        color: var(--clr-background-text);
        padding: .4rem;
        border-radius: 1rem;
    }
}

button:hover {
    background: #527175;
}

input:focus {
    outline: .5px solid var(--clr-txt-primary);
}