<div class="split">
    <div class="split-item">
        <img class="autor-img" src="../../assets/autor.jpeg" alt="autor" />
        <h3>Mateo Pikl</h3>
        <a href="mailto:mpikl20@student.foi.hr"><p>mpikl20&#64;student.foi.hr</p></a>
    </div>
    <div class="split-item">
        <a href="../../assets/ERA_MODEL_mpikl20.png" target="_blank">
            <img class="era-img" src="../../assets/ERA_MODEL_mpikl20.png" alt="ERA_MODEL_mpikl20">
        </a>
    </div>
</div>
<div class="dodatno">
    <p>U slučaju greške prilikom pokretanja npm run start, dodati ispred "sudo" -> "sudo npm run start"</p>
</div>


<h2>REST Servis</h2>
<app-rest-dokumentacija-table></app-rest-dokumentacija-table>
<br/>
<h2>Aplikacija</h2>
<app-app-dokumentacija-table></app-app-dokumentacija-table>
<br/>
<h2>Zadaci</h2>
<app-zadaci-dokumentacija-table></app-zadaci-dokumentacija-table>
