<div class="table-center">
    <table>
        <tr>
            <th>Resursi parametri</th>
            <th>GET čitanje</th>
            <th>POST kreiranje</th>
            <th>PUT ažuriranje</th>
            <th>DELETE brisanje</th>
        </tr>
        <tr>
            <td>baza/korisnici</td>
            <td>Napravljeno</td>
            <td>Napravljeno</td>
            <td>Napravljeno</td>
            <td>Napravljeno</td>
        </tr>
        <tr>
            <td>baza/korisnici/:korime</td>
            <td>Napravljeno</td>
            <td>Napravljeno</td>
            <td>Napravljeno</td>
            <td>Napravljeno</td>
        </tr>
        <tr>
            <td>baza/korisnici/:korime/prijava</td>
            <td>Neispravno</td>
            <td>Neispravno</td>
            <td>Napravljeno</td>
            <td>Napravljeno</td>
        </tr>
        <tr>
            <td>baza/favoriti</td>
            <td>-</td>
            <td>-</td>
            <td>Napravljeno</td>
            <td>Napravljeno</td>
        </tr>
        <tr>
            <td>baza/favoriti/:id</td>
            <td>-</td>
            <td>Napravljeno</td>
            <td>Napravljeno</td>
            <td>-</td>
        </tr>
        <tr>
            <td>baza/dnevnik ?stranica=broj &sortiraj=[d | m] [&datumOd=datum] [&datumDo=datum] [&vrijemeOd=vrijeme] [&vrijemeDo=vrijeme]</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
    </table>
</div>